.navbar { 
  display: flex; 
  gap: 1rem; 
  padding: 1rem; 
}
.navbar.light { 
  background-color: #eee; 
}
.navbar.dark { 
  background-color: #444; 
}
.navbar a { 
  text-decoration: none; 
  color: inherit; 
  font-weight: bold; 
}